version: '3.9'

services:
  api:
    container_name: notesmanager_api
    build:
      context: .
      dockerfile: NotesManager.API/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Local
      - ConnectionStrings__MsSqlServer=Server=sqlserver;Database=NotesManagerDb;User=sa;Password=Admin@1234;TrustServerCertificate=true;
    depends_on:
      - sqlserver
    networks:
      - app-network
    restart: on-failure

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: notesmanager_sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Admin@1234
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mssql_data: